.BUTTON {
  background-color: #1d2e7d;
  color: white;
  width: 500px;
  height: 80px;
  border-radius: 35px;
  display: flex;
  transition: 0.5s;
  text-decoration: none !important;
  /* border: 2px solid purple; */
}

.BUTTON:hover {
  outline: 8px solid #1d2e7d;
  background-color: white;
  color: #1d2e7d;
}

.noDecoration,
a:link,
a:visited {
  text-decoration: none;
}
